@import "../../scss/_base";


.main__search_bar{
  height: 350px;
  width: 100%;
  background: $color-primary;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_grid{
  background: $color-primary;
  margin-top: 5px;
  padding: 30px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  background: $color-primary;
  margin-top:20px;
}

.grid .grid{
  margin-top:20px;
}

.cell {
  flex: 1;
  margin: 5px;
  color: #fff;
  padding: 5px;
  background:rgba(255,255,255, 0.2);
  text-align: center;
  line-height: 25px;
  border-radius: 10px;
  
}

.main__image{
  max-height: 180px;
  padding-bottom: 15px;
  border-radius: 10px;
  margin-top: 12px;
}

.button_back{
  border:none;
  display: block;
  color: #fff;
  padding: 20px;
  background: $color-primary
}