@import "../../scss/_base.scss";

.header__main_container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 1rem;
  align-items: center;

  .main_content_title {
    color: $color-primary;
  }
  .main_content_links {
    display: flex;
    width: 25%;
    justify-content: space-between;
  }
}
