$color-primary: #2a3f51;
$color-primary-light: #538190;
$color-light: #d8dade;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$white: #f9f9f9
